{
  "ecmaFeatures": {
    "jsx": true
  },
  "rules" : {
    "quotes" : [0],
    "no-unused-vars": [1]
  },
  "plugins": ["react"],
  "env":{
    "browser": true,
    "node": true
  },
  "parser" : "babel-eslint"
}
